<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog./fonts/vazir.css' %}">
    <title>FATHI CV Maker</title>
</head>
<body id="body2">
<h1 dir="rtl">به  FATHI CV Maker خوش آمدید</h1>
<a href="http://127.0.0.1:8000/admin/resume_maker/about_me/" class="big-button">ساخت | ویرایش رزومه</a>
<a href="http://127.0.0.1:8000/my_resume/" class="big-button">مشاهده رزومه</a>
</body>
</html>
